<div id="container">

    <!-- NavBar -->
    <!-- Includes links to Home page, Saved Articles Page, and a 'Scrape for New Articles' button -->
    <ul class="nav">
        <li class="nav-item">
            <a class="navbar-brand" href="#">Mongo Scraper</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link savedArticlesPage" href="savedArticles.html">Saved Articles</a>
        </li>
        <li class="nav-item">
            <button class="btn btn-secondary scraperButton" type="submit">Scrape for New Articles</button>
        </li>
    </ul>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Mongo Scraper</h1>
            <p class="lead">TIME Edition</p>
        </div>
    </div>
</div>

<!-- Empty article div to scrape articles into -->
<div id="articleDiv" class="container-fluid">

</div>